nameOverride: ""
fullnameOverride: ""

replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

container:
  name: ""
  port: 3000

resources: {}
  # requests:
  #   cpu: 500m
  #   memory: 512Mi
  # limits:
  #   cpu: 500m
  #   memory: 512Mi

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: false
  nameSuffix: ingress
  className: ""   # ex: alb (campo spec.ingressClassName)
  commonAnnotations: {}
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
